<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="vn.edu.stu.project_chat_group">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project_Chat_Group"
        tools:targetApi="31">
        <activity
            android:name=".SettingMainOptions.StoriesSettingActivity"
            android:exported="false" />
        <activity
            android:name=".SettingMainOptions.AppUpdateSettingActivity"
            android:exported="false" />
        <activity
            android:name=".SettingMainOptions.IdentityConfirmationSettingActivity"
            android:exported="false" />
        <activity
            android:name=".SettingMainOptions.SavedLoginSettingActivity"
            android:exported="false" />
        <activity
            android:name=".SettingMainOptions.ChangePasswordSettingActivity"
            android:exported="false" />
        <activity
            android:name=".SettingMainOptions.PasswordAndSecuritySettingActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileIDActivity"
            android:exported="false" />
        <activity
            android:name=".SettingMainOptions.FullNameSettingActivity"
            android:exported="false" />
        <activity
            android:name=".SettingMainOptions.PersonalInformationSettingActivity"
            android:exported="false" />
        <activity
            android:name=".SettingMainOptions.RingtoneSelectActivity"
            android:exported="false" />
        <activity
            android:name=".SettingMainOptions.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".SettingMainOptions.LanguageChangeActivity"
            android:exported="false" />
        <activity
            android:name=".SettingMainOptions.DarkModeSettingActivity"
            android:exported="false" />
        <activity
            android:name=".SettingMainOptions.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".LoginPageActivity"
            android:exported="false" />
        <activity
            android:name=".SettingMainOptions.RegisterAccountActivity"
            android:exported="false" />
        <activity
            android:name=".GettingStartedAlternative3Activity"
            android:exported="false" />
        <activity
            android:name=".GettingStartedAlternative2Activity"
            android:exported="false" />
        <activity
            android:name=".GettingStartedAlternativeActivity"
            android:exported="false" />
        <activity
            android:name=".LauncherActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".firebase.MessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>